@model List<HotelApp.EntityLayer.Concrete.AppUser>

@{
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-xs mb-0">
    <thead>
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Şehir</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tbody>
    @{ var x = 0;}
    @foreach (var user in Model)
    {
        x++;
        <tr>
            <td>@x</td>
            <td><img src="./images/avatar/1.jpg" class=" rounded-circle mr-3" alt="">@user.Name @user.SurName</td>
            <td>@user.City</td>
            <td><i class="fa fa-circle-o @(user.EmailConfirmed ? "text-success" : "text-danger")  mr-2"></i>@(user.EmailConfirmed ? "Onaylı" : "Onaylı Değil")</td>
            <td>
                <button class="btn btn-primary">Düzenle</button>
            </td>
            <td>
                <button class="btn btn-primary">Sil</button>
            </td>
        </tr>
    }
    </tbody>
</table>

                